#indexheader {
    font-size: 50;
    border: 2px solid black;
    background-size: cover;
    background-image: url("../images/regnskab.jpg");
    height: 200px;
    background-repeat: no-repeat; 

}
h1 {
margin: ;
}
